


<div class="hero-unit top">
  <div class="container">
   <div class="hero-unit top2">

	<div class="left1">
	 <%= image_tag "books.png", :class => 'books' %>
	</div>

	<div class="right1">
  <h1 class="tag">Find the books you need from other Students.  Save Your money for Keggers.  </h1>
	</div>

  </div>
 </div>


</div>
<div class="clearfix2">

</div>

<div class="hero-unit middle">
   <div class="container">
     <div class="hero-unit top3">

       <div class="search">
        <%= form_tag(books_path, method: "get") do %>
           <%= label_tag :title, "Search for your book", :class => 'searchtitle' %>
           <%= text_field_tag :title %>
           <%= submit_tag "search", :class => 'search' %>
         <% end %>
       </div>

     </div>
   </div>
</div>

<div class="hero-unit top">
  <div class="container">
   <div class="hero-unit top2">

   </div>
 </div>
</div>
